.scrollup {
    background: url("../img/icon_gototop.png") no-repeat scroll 0 0 transparent;
    bottom: 20px;
    display: none;
    height: 40px;
    position: fixed;
    right: 20px;
    width: 40px;
}
